<div ng-init="init()" class="animated bounceInRight">
    <div class="headTitleTallerCita">
        <span class="title"> Administración de Órdenes<span class="subtitle">Administrador</span></span>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-xs-4">
                                <input type="text" placeholder="Buscar Número de Órden" ng-model="numeroTrabajo" class="form-control">
                            </div>
                            <div class="col-xs-0">
                                <button id="btnBuscar" busy="Buscando.." type="button" class="btn btn-primary" ng-click="getAdmonOrdenes(numeroTrabajo)"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                        <br/>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTableOrdenServicio" cg-busy="{promise:promise,message:message}">
                                <thead>
                                    <tr>
                                        <th>Número de la Orden</th>
                                        <th>Número Económico</th>
                                        <th>Taller</th>
                                        <th>TAR</th>
                                        <th>Orden de Surtimiento</th>
                                        <th>Monto de la Orden</th>
                                        <th>Descripción de la Orden</th>
                                        <th>Estatus</th>
                                        <th>Archivos Factura</th>
                                        <th>Generar txt</th>
                                        <th>Editar Costos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="orden in admonOrdenes ">
                                        <td>{{orden.numeroTrabajo}}</td>
                                        <td>{{orden.numEconomico}}</td>
                                        <td>{{orden.razonSocial}}</td>
                                        <td>{{orden.TAR}}</td>
                                        <td>{{orden.folio}}</td>
                                        <td>{{orden.montoOrden | currency}}</td>
                                        <td>{{orden.trabajo}}</td>
                                        <td>{{orden.descripcionLarga }}</td>
                                        <td>
                                            <button class="btn btn-success" type="button" ng-click="verFactura(orden.idTrabajo)" data-toggle="tooltip" tooltip="Ver  Factura" tooltip-placement="left"><span class="glyphicon glyphicon-eye-open"></span></button>

                                            <button class="btn btn-info" type="button" ng-click="openFacturaModal(orden.idTrabajo)" data-toggle="tooltip" tooltip="Cargar Factura" tooltip-placement="left"><span class="glyphicon glyphicon-open"></span></button>
                                        </td>
                                        <td>
                                            <a type="button" data-toggle="tooltip" tooltip="Generar Factura.txt" tooltip-placement="left" class="btn btn-primary" role="button" ng-click="generaTXT(orden.idTrabajo, orden.numeroTrabajo)"><span class="fa fa-file-text-o"></span></a>
                                        </td>
                                        <td>
                                            <button class="btn btn-success" type="button" ng-click="lookAt(orden, 0)" data-toggle="tooltip" tooltip="Editar Costos" tooltip-placement="left"><span class="glyphicon glyphicon-usd"></span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="cargaArchivosModal" class="modal inmodal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Carga de Archivo</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive m-t">
                    <div id="dropeZoneFiles" class="dropzone" options="dzOptionsArchivos" callbacks="dzCallbacks" methods="dzMethods" ng-dropzone></div>
                </div>
                <div class="modal-footer">
                    <button id="btnUploadFiles" type="button" class="btn btn-success" ng-click="dzMethods.processQueue();">Adjuntar</button>
                </div>
            </div>
        </div>
    </div>
</div>