<div class="contenedor" ng-init="init()">
	<div class="formGroup">
        <input  class="rounded inputWidth" type="text" placeholder="Búsqueda: Servicio/Paquete/Refacción" ng-model="pieza">
        <button id="btnBuscarPieza" busy="Buscando.." type="button" class="btn btn-primary glyphicon glyphicon-search" ng-click="getPieza(pieza)"></button>
    </div>       	
    <div class="row tablaBusqueda tablaAlign" cg-busy="{promise:promise,message:message}">
      	<table class="table table-condensed table-striped"> 
	        <thead> 	 
                <th>No.Partida</th>
                <th>No.Parte</th>                        
                <th>Descripción</th>
                <th>Precio</th>
                <th>Agregar</th>                    
	        </thead> 
	        <tbody> 
	            <tr ng-repeat="pieza in piezas">
	                <td>{{ pieza.numeroPartida }}</td> 
	                <td>{{ pieza.numeroParte }}</td> 
	                <td>{{ pieza.descripcion }}</td>
	                <td>{{ pieza.precio }}</td>
	                <td>
	                  <button class="btn btn-success glyphicon glyphicon-plus" type="button" 
	                  	id="btnCotizar" ng-click="addPieza(pieza)">
	                  </button>
	                </td>
	            </tr>                
	        </tbody> 
    	</table> 
    </div>
    </br>
    <div>
        <table class="table table-condensed table-striped"> 
            <thead>
                <th>No.Partida</th>
                <th>No.Parte</th>                        
                <th>Descripción</th>
                <th>Cantidad</th>
            </thead> 
            <tbody> 
                <tr ng-repeat="pieza in listaPiezas">
                    <td>{{pieza.numeroPartida }}</td> 
                    <td>{{pieza.numeroParte}}</td> 
                    <td>{{pieza.item}}</td>
                    <td>{{pieza.cantidad}}</td>                                
                    <td>
                      <button class="btn btn-danger glyphicon glyphicon-remove" type="button" 
                      	id="btnCotizar" ng-click="removePieza(pieza.idItem)">
                      </button>
                    </td>
                </tr>                
            </tbody> 
        </table>
        <div>
        	<button type="button" class="btn btn-primary glyphicon glyphicon-saved" data-toggle="tooltip" tooltip="Generar lista de servicios" tooltip-placement="top-right" ng-click="backToNuevaCita()"></button>
        </div> 
    </div>
</div>