<div ng-init="initCita()" class="animated bounceInRight">
    <div class="headTitleTallerCita">
        <span class="title"> Histórico de Citas<span class="subtitle">Call Center / Taller</span></span>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <br/>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTableCita" cg-busy="{ promise:promise,message:message } ">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Taller</th>
                                        <th>Dirección</th>
                                        <th>Trabajo</th>
                                        <th>Estatus</th>
                                        <th>Agendó</th>
                                        <th>Órden</th>
                                        <th>Historial</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="cita in citas">
                                        <td>{{cita.fecha | date:'dd-MM-yyyy HH:mm'}}</td>
                                        <td>{{cita.razonSocial}}</td>
                                        <td>{{cita.direccion}}</td>
                                        <td>{{cita.trabajo}}</td>
                                        <td>{{cita.estatus}}</td>
                                        <td>{{cita.nombreCompleto}}</td>
                                        <td>
                                            <button type="button" class="btn btn-primary" ng-click="goToCotizacionTrabajo(cita)" data-toggle="tooltip" tooltip="Ver trabajo" tooltip-placement="top"><span class="glyphicon glyphicon-folder-open"></span></button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success" ng-click="showLineTime(cita.idCita)" data-toggle="tooltip" tooltip="Ver historial" tooltip-placement="top"><span class="glyphicon glyphicon-align-left"></span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <button type="button" class="btn btn-success pull-right m-t-n-xs" ng-click="goNewCita()"><span class="glyphicon glyphicon-calendar"></span><strong> Agendar cita</strong></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="../../css/timeline/timeline.css" rel="stylesheet" />
<link href="../../css/timeline/plugin.css" rel="stylesheet" />

<div class="modal inmodal fade " id="lineaTiempoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Línea de tiempo</h4>
            </div>
            <div class="modal-body" ng-init="initCitaServicio()">
                <div id="timeline" class="timelineScope">
                    <label>Cita: 30</label>
                    <div>
                        <ol>
                            <li ng-repeat="timeLine in timeLine">
                                {{timeLine.fechaHist | date:'dd-MM-yy HH:mm'}}
                                <span class="details">
                               {{timeLine.proceso  + ' ' + timeLine.estatus}}
                           </span>
                            </li>
                        </ol>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>