<link rel="stylesheet" type="text/css" href="../../css/cotizacion.css">
<link type="text/css" href="../../css/inspinia/ladda/ladda-themeless.min.css" rel="stylesheet">
<div ng-init="init()" class="animated bounceInRight">
    <div class="headTitle">
        <span class="title"> Cotización<span class="subtitle">Taller</span> </span>
    </div>
    <div id="contenedor" class="contenedor">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <br/>
                            <br/>
                            <div class="row">
                                <div class="col-xs-4">
            <input type="text" placeholder="Introduzca servicio, paquete o refacción" ng-model="partida" class="form-control">
                                </div>
                                <div class="col-xs-0">
                                    <button id="btnBuscar" busy="Buscando.." type="button" class="btn btn-primary" ng-click="buscarPieza(partida)" data-toggle="tooltip" tooltip="Buscar" id="btnCotizar" tooltip-placement="right"><span class="glyphicon glyphicon-search dim"></span></button>
                                </div>
                            </div>

                            <br/>
                            <br/>
                            <div class="table-responsive">
                                <table class="table table-bordered dataTableItem">
                                    <thead>
                                        <tr>
                                            <th>No.Partida</th>
                                            <th>No.Parte</th>
                                            <th>Descripción</th>
                                            <th>Precio</th>
                                            <th>Agregar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="piezas in listaPiezas" ng-class="{'rowVerde': piezas.idNivelAutorizacion==1, 'rowOlivo': piezas.idNivelAutorizacion == 2, 'rowAmarillo' : piezas.idNivelAutorizacion == 3, 'rowRojo': piezas.idNivelAutorizacion == 4}">
                                            <td>{{ piezas.numeroPartida }}</td>
                                            <td>{{ piezas.numeroParte }}</td>
                                            <td>{{ piezas.item }}</td>
                                            <td>{{ piezas.precio | currency}}</td>
                                            <td>
                                                <button class="btn btn-success" type="button" id="btnCotizar" ng-click="cotizar(piezas)" data-toggle="tooltip" tooltip-placement="top" tooltip="Agregar">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row animated bounceInRight">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <table class="table table-bordered dataTableCotizacion">
                            <thead>
                                <tr>
                                    <th>No.Partida</th>
                                    <th>No.Parte</th>
                                    <th>Descripción</th>
                                    <th>Cantidad</th>
                                    <th>Precio Unitario</th>
                                    <th>I.V.A</th>
                                    <th>Precio Total</th>
                                    <th>Quitar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="piezas in arrayItem" ng-class="{'rowVerde': piezas.idNivelAutorizacion==1, 'rowOlivo': piezas.idNivelAutorizacion == 2, 'rowAmarillo' : piezas.idNivelAutorizacion == 3, 'rowRojo': piezas.idNivelAutorizacion == 4}">
                                    <td>{{piezas.numeroPartida }}</td>
                                    <td>{{piezas.numeroParte}}</td>
                                    <td>{{piezas.item}}</td>
                                    <td>{{piezas.cantidad}}</td>
                                    <td>{{piezas.precio | currency}} 
                                      <button class="btn btn-success" type="button" id="btnCotizar" ng-click="cotizacion(piezas)" data-toggle="tooltip" tooltip-placement="top" tooltip="Cambiar Precio">
                                         <span class="glyphicon glyphicon-edit"></span>
                                      </button>
                                    </td>

                                    <td>{{(piezas.cantidad * (piezas.precio * (piezas.valorIva / 100))) | currency}}</td>
                                    <td>{{((piezas.cantidad * piezas.precio) +(piezas.cantidad * (piezas.precio * (piezas.valorIva / 100)))) | currency}}</td>
                                    <td>
                                        <button class="btn btn-danger" type="button" id="btnCotizar" ng-click="quitarPieza(piezas)" data-toggle="tooltip" tooltip-placement="top" tooltip="Quitar">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <table class="table invoice-total">
                    <tbody>
                        <tr>
                            <td><strong>SUBTOTAL :</strong></td>
                            <td>{{sub | currency}}</td>
                        </tr>
                        <tr>
                            <td><strong>I.V.A :</strong></td>
                            <td>{{iva | currency}}</td>
                        </tr>
                        <tr>
                            <td><strong>TOTAL :</strong></td>
                            <td>{{total | currency}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Adjuntar Evidencia</h5>
                <div class="ibox-content">
                    <iframe src="/AngularJS/Templates/uploader.html" frameborder="0" id="uploader"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <textarea class="form-control" id="observaciones" ng-model="observaciones" placeholder="Observaciones"></textarea>
        <button id="btnEnviaCotizacion" ng-show="estado==1" type="button" class="ladda-button ladda-button-demo btn btn-primary buttonEnviar" data-toggle="tooltip" tooltip-placement="top" tooltip="Enviar Autorización">
            <span class="glyphicon glyphicon-saved"></span> Guardar Cotización
        </button>
        <button id="btnUpdateCotizacion" class="ladda-button ladda-button-demo btn btn-primary buttonEnviar" data-style="expand-right" ng-show="estado==2">Actualizar Cotización</button>
        <button id="btnNuevaCotizacion" ng-show="estado==3" type="button" data-toggle="tooltip" tooltip-placement="top" tooltip="Guardar Cotización" class="ladda-button ladda-button-demo btn btn-primary buttonEnviar"> Guardar Cotización
            <span class="glyphicon glyphicon-floppy-saved"></span>
        </button>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn datosUnidad">
    <label>Trabajo:</label>
    <span>{{trabajo}}</span>
    <br/>
    <label>Número Economico: </label>
    <span>{{numEconomico}}</span>
    <br/>
    <label>Marca-Modelo: </label>
    <span>{{modeloMarca}}</span>
</div>

  <div id="editaPrecio" class="modal inmodal fade" role="dialog">
        <div class="modal-dialog modal-md">

            <!-- Modal content-->
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cambiar Precio</h4>
                </div>
                <div class="modal-body">
                    <!-- /table-responsive -->
            <div class="row">
                  <div class="col-md-6" style="text-align: right;">
                  Precio Actual
                  </div>
                  <div class="col-md-6">
                    $<input ng-model="precioActual" type="text" style="text-align: right;"></input>
                  </div>
            </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" ng-click="precioEditado(pieza)" data-dismiss="modal">Editar</button>
                </div>
            </div>
        </div>
    </div>


<script type="text/javascript">
    function buttonReset() {
        var scope = angular.element($("#contenedor")).scope();
        scope.$apply(function () {
            scope.FinishSave();
        })
    }
</script>