<link href="../../css/inspinia/morris/morris-0.4.3.min.css" rel="stylesheet">
<div ng-init="init()">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-5">
                <label for="zona" class="">Zona</label>
                <select class="form-control m-b" id="zona" ng-model="zonaSelected" ng-options="zona.idZona as zona.descripcionZona for zona in zonas" ng-change="devuelveTars()">
                    <option value="">Seleccione una Zona</option>
                </select>
            </div>
            <div class="col-lg-5">
                <label align="center">T.A.R</label>
                <select class="form-control m-b" id="tar" ng-model="tarSelected" ng-options="tar.idTAR as tar.nombreTar for tar in tars">
                    <option value="">Seleccione una TAR</option>
                </select>
            </div>
            <div class="col-lg-2">
                <button class="btn btn-success" type="submit" ng-click="getDashBoard()">Buscar</button>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h3>Citas
                        <div class="col-xs-offset-9 col-xs-3">Total: {{totalCitas | number}}</div></h3>
                    </div>
                    <div class="ibox-content">
                        <div id="morris-donut-citas"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h3>Cotizaciones
                        <div class="col-xs-offset-8 col-xs-3">Total: {{totalCotizaciones | number}}</div>
                        </h3>
                    </div>
                    <div class="ibox-content">
                        <div id="morris-donut-cotizaciones"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h3>Ordenes de Servicio
                        <div class="col-xs-offset-8 col-xs-3">Total: {{totalOrdenes | number}}</div>
                        </h3>
                    </div>
                    <div class="ibox-content">
                        <div id="morris-donut-ordenes"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Ordenes Por Cobrar</h5>
                    </div>
                    <div class="ibox-content">
                        <div id="morris-donut-cobrar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .morris-chart text {
        font-size: 5;
    }
</style>