<link href="../../css/inspinia/morris/morris-0.4.3.min.css" rel="stylesheet">
<div ng-init="init()">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Citas</h5>
                    </div>
                    <div class="ibox-content">
                        <div id="morris-donut-citas"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Cotizaciones</h5>
                    </div>
                    <div class="ibox-content">
                        <div id="morris-donut-cotizaciones"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Ordenes de Servicio</h5>
                    </div>
                    <div class="ibox-content">
                        <div id="morris-donut-ordenes"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Ordenes Por Cobrar</h5>
                    </div>
                    <div class="ibox-content">
                        <div id="morris-donut-cobrar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>