<link href="../../css/inspinia/morris/morris-0.4.3.min.css" rel="stylesheet">
<div ng-init="init()">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-5">
                <select class="form-control m-b" id="zona" ng-model="zonaSelected" ng-options="zona.idZona as zona.descripcionZona for zona in zonas" ng-change="devuelveTars()">
                    <option value="">Seleccione una Zona</option>
                </select>
            </div>
            <div class="col-lg-5">
                <select ng-disabled="zonaSelected == null" class="form-control m-b" id="tar" ng-model="tarSelected" ng-options="tar.idTAR as tar.nombreTar for tar in tars">
                    <option value="">Seleccione una TAR</option>
                </select>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Citas</h5>
                        <div class="ibox-tools">
                            <span class="label label-success pull-right">Total: {{totalCitas | number}}</span>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div id="morris-donut-citas"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Cotizaciones</h5>
                        <div class="ibox-tools">
                            <span class="label label-success pull-right">Total: {{totalCotizaciones | number}}</span>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div id="morris-donut-cotizaciones"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Ordenes de Servicio</h5>
                        <div class="ibox-tools">
                            <span class="label label-success pull-right">Total: {{totalOrdenes | number}}</span>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div id="morris-donut-ordenes"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" ng-hide="userData.idTipoUsuario == 4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Ordenes Por Cobrar</h5>
                        <div class="ibox-tools">
                            <span class="label label-success pull-right">Total: {{totalOrdenesPorCobrar | number}}</span>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div id="morris-donut-cobrar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .morris-chart text {
        font-size: 5;
    }
</style>