<link rel="stylesheet" type="text/css" href="css/timeLine.css">
<div class="contenedor" ng-init="initLineTime()">
	<!-- <div>
		<label >Cita: 102</label>          
	    <ol style="width: 450px;">
	        <li ng-repeat="hcita in historialCita">
	            {{hcita.fecha}}
	            <span class="details">
	             {{hcita.estatus}}
	            </span>
	            <span class="details2">
	                    0 dias
	            </span>
	        </li>
	    </ol>
	</div>
    	
    </div>
    	<label>Trabajo: 2</label>          
        <ol style="background:#eea236; width: 600px;">
            <li ng-repeat="htrabajo in historialTrabajo" >
                {{htrabajo.fecha}}
                <span class="details">
                 {{htrabajo.estatus}}
                </span>
                <span class="details2">
                        0 dias
                </span>
            </li>
        </ol>
    <div>            
    	<label>Cotizacion: 2</label>          
        <ol style="background:#eea236; width: 600px;">
            <li ng-repeat="hcotizacion in historialCotizacion" >
                {{hcotizacion.fecha}}
                <span class="details">
                 {{hcotizacion.estatus}}
                </span>
                <span class="details2">
                        0 dias
                </span>
            </li>
        </ol>
    </div> -->
</div>