<div ng-init="initNuevaCita()" class="animated fadeInRight">
    <div class="headTitleTallerCita">
        <span class="title"> Citas<span class="subtitle">Call Center / Taller</span></span>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-xs-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-xs-5 b-r">
                                <div class="row" ng-hide="userData.idTipoUsuario == 4">
                                    <div class="col-xs-8">
                                        <input class="form-control" type="text" ng-model="datoTaller" placeholder=" Buscar taller">
                                    </div>
                                    <div class="col-xs-0">
                                        <button type="button" class="btn btn-primary" ng-click="lookUpTaller(datoTaller)" data-toggle="tooltip" tooltip="Buscar taller" tooltip-placement="right"><span class="glyphicon glyphicon-search"></span></button>
                                    </div>
                                </div>
                                <br/>
                                <div class="table-responsive" ng-hide="userData.idTipoUsuario == 4">
                                    <table class="table table-striped table-bordered table-hover dataTableTaller" cg-busy="{promise:promise,message:message}">
                                        <thead>
                                            <th>Taller</th>
                                            <th>Dirección</th>
                                            <th>Seleccionar</th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="taller in talleres">
                                                <td>{{taller.razonSocial}}</td>
                                                <td>{{taller.direccion}}</td>
                                                <td>
                                                    <input type="radio" name="optTaller" ng-click="getTaller(taller.idTaller)" />
                                                </td>
                                            </tr>
                                          <tr ng-show="edita == 1">
                                                <td>{{datosCita.razonSocial}}</td>
                                                <td>{{datosCita.direccion}}</td>
                                                <td>
                                            <input type="radio" name="optTaller" ng-click="getTaller(datosCita.idTaller)"/>  
                                                </td> 
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <form role="form">
                                    <select class="form-control m-b" name="estadoAutotanque" ng-model="datosCita.idEstadoAutotanque" ng-options="autotanque.idEstadoAutotanque as autotanque.descripcionEstadoAutotanque for autotanque in estadosAutotanque">
                                        <option value="">Seleccione el estado del autotanque</option>
                                        <!--default option -->
                                    </select>
                                </form>
                                <form role="form">
                                    <!--<input type="checkbox" id="tipoCitaSwitch" name="my-checkbox" checked data-on-text="Preventivo" data-off-text="Correctivo" data-off="success">-->
                                    <!--    <select class="form-control" name="tipocita" ng-init="selectedTipoCita = tiposCita[0]" ng-model="selectedTipoCita" ng-options="tipoCita.tipoCita for tipoCita in tiposCita">
                                            <option value="">Seleccionar tipo de cita</option>
                                        </select> -->
                                     <select class="form-control" name="tipocita" ng-model="datosCita.tipoCita" ng-options="tipoCita.idTipoCita as tipoCita.tipoCita for tipoCita in tiposCita">
                                            <option value="">Seleccionar tipo de cita</option><!--default option -->
                                        </select> <!-- {{datosCita.tipoCita}}  -->
                                </form>
                                <br>
                                <form role="form">
                                    <div class="form-group" id="fechaTrabajo">
                                        <div class="input-group date">
                                            <input type="text" placeholder="Fecha" class="form-control" value="" ng-model="datosCita.fechaCita">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group clockpicker" data-autoclose="true">
                                            <input type="text" placeholder="Hora" class="form-control" value="" ng-model="datosCita.horaCita">
                                            <span class="input-group-addon">
                                                <span class="fa fa-clock-o"></span>
                                            </span>
                                        </div>
                                    </div>
                                 <!--     <tr ng-repeat="taller in citaDato"> -->
                                    <div class="form-group">
                                        <input type="text" placeholder="Descripción del trabajo" class="form-control" ng-model="datosCita.trabajoCita" value=""> <!--  {{citaDato[0].trabajo}} -->
                                    </div>
<!-- </tr> -->
                                    <div class="form-group">
                                        <textarea placeholder="Observaciones" class="form-control" rows="4" ng-model="datosCita.observacionCita"></textarea>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-primary pull-left m-t-n-xs" ng-click="showCitaServicioModal()" ng-disabled="selectedTaller"><span class="glyphicon glyphicon-usd"></span><strong> Pre-orden de servicio</strong></button>


                                        <button ng-hide="edita == 1" type="button" class="btn btn-success pull-right m-t-n-xs" ng-click="addCita()"><span class="glyphicon glyphicon-calendar"></span><strong> Agendar cita</strong></button>
                                    
                                        <button ng-show="edita == 1" type="button" class="btn btn-success pull-right m-t-n-xs" ng-click="updateCita(idCita)"><span class="glyphicon glyphicon-calendar"></span><strong> Actualizar cita</strong></button>

                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-danger pull-left m-t-n-xs">{{labelItems}} Items</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xs-7">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.8375589488287!2d-99.2048844855959!3d19.332853886941084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cdfff7a0d40cd9%3A0xdc7e25fd4cf1b9b!2sSismo+424%2C+Loreto+y+Campamento%2C+01900+Ciudad+de+M%C3%A9xico%2C+D.F.!5e0!3m2!1ses-419!2smx!4v1463100069271" width="600" height="450" frameborder="0" style="border:0; height: 600px; width:100%" allowfullscreen></iframe>
                                <!-- <div class="google-map" id="map1" style="height: 600px;"></div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade " id="citaServicioModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Pre-orden de servicio</h4>
            </div>
            <div class="modal-body"  ng-init="initCitaServicio()">
                <div class="row">
                    <div class="col-xs-5">
                        <input type="text" placeholder="Búsqueda: Servicio/Paquete/Refacción" ng-model="pieza" class="form-control">
                    </div>
                    <div class="col-xs-0">
                        <button id="btnBuscarPieza" busy="Buscando.." type="button" class="btn btn-primary glyphicon glyphicon-search" ng-click="getPieza(pieza)"></button>
                    </div>
                </div>
                <br/>
                <div class="row tablaBusqueda tablaAlign" cg-busy="{promise:promise,message:message}">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTablePiezaTaller">
                            <thead>
                                <th>No.Partida</th>
                                <th>No.Parte</th>
                                <th>Descripción</th>
                                <th>Agregar</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pieza in piezas">
                                    <td>{{ pieza.numeroPartida }}</td>
                                    <td>{{ pieza.numeroParte }}</td>
                                    <td>{{pieza.item}}</td>
                                    <td>
                                        <button class="btn btn-success glyphicon glyphicon-plus" type="button" id="btnCotizar" ng-click="addPieza(pieza)">
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <th>No.Partida</th>
                            <th>No.Parte</th>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                            <th>Eliminar</th>
                        </thead>
                        <tbody>
                            <tr dir-paginate="pieza in listaPiezas | itemsPerPage:3" pagination-id="listaPiezasSeleccionadas">
                                <td>{{pieza.numeroPartida }}</td>
                                <td>{{pieza.numeroParte}}</td>
                                <td>{{pieza.item}}</td>
                                <td>{{pieza.cantidad}}</td>
                                <td>
                                    <button class="btn btn-danger glyphicon glyphicon-remove" type="button" id="btnCotizar" ng-click="removePieza(pieza.idItem)">
                                    </button>
                                </td>
                            </tr>         
                        </tbody>
                    </table>
                    <div id="paginationTaller">
                        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="listaPiezasSeleccionadas">
                        </dir-pagination-controls>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary pull-right m-t-n-xs" ng-click="generarCitaServicio(pieza)"><span class="glyphicon glyphicon-saved"></span><strong> Generar Pre-orden</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>