<link href="../../css/inspinia/sweetalert/sweetalert.css" rel="stylesheet">
<div ng-init="init()" class="animated bounceInRight">
    <div class="headTitleTallerCita">
        <span class="title">Órdenes por cobrar<span class="subtitle">Call Center / Taller</span></span>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <tabset>
                            <tab heading="Órdenes por Cobrar" index="0">
                                <br>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover dataTableOrdenesPorCobrar" cg-busy="{promise:promise,message:message, minDuration: minDuration,
delay:delay}">
                                        <thead>
                                            <tr>
                                                <th>Taller</th>
                                                <th>Número de la Orden</th>
                                                <th>Número Económico</th>
                                                <th>TAR</th>
                                                <th>Orden de Surtimiento</th>
                                                <th>Monto de la Orden</th>
                                                <th>Descripción de la Orden</th>
                                                <th>Estatus</th>
                                                <th>Fecha Ingreso Unidad</th>
                                                <th>Fecha Inicio Trabajo</th>
                                                <th>Fecha Fin Trabajo</th>
                                                <!-- <th>Fecha COPADE</th> -->
                                                <th>Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="orden in ordenes | filter: cotizacion">
                                                <td>{{orden.razonSocial}}</td>
                                                <td>{{orden.numeroTrabajo}}</td>
                                                <td>{{orden.numEconomico}}</td>
                                                <td>{{orden.TAR}}</td>
                                                <td>{{orden.folio}}</td>
                                                <td>{{orden.montoOrden | currency}}</td>
                                                <td>{{orden.trabajo}}</td>
                                                <td>{{orden.descripcionLarga }}</td>
                                                <td>{{orden.fechaIngresoUnidad | date:'dd-MM-yyyy HH:mm'}}</td>
                                                <td>{{orden.fechaInicio | date:'dd-MM-yyyy HH:mm'}}</td>
                                                <td>{{orden.fechaFin | date:'dd-MM-yyyy HH:mm'}}</td>
                                                <!--<td> 
                                                {{orden.fechaServicio | date:'dd-MM-yyyy HH:mm'}}
                                                <br>
                                                <button class="btn btn-success" type="button" ng-click="openFinishingTrabajoModal(orden.idTrabajo)" data-toggle="tooltip" tooltip="Fecha Copade" tooltip-placement="up"><span class="glyphicon glyphicon-calendar"></span></button>
                                                </td>-->
                                                <td>
                                                    <button class="btn btn-info" type="button" ng-click="aprobarTrabajo(orden, 1)" data-toggle="tooltip" tooltip="Ver órden de servicio" tooltip-placement="up"><span class="glyphicon glyphicon-sunglasses"></span></button>

                                                    <!-- <button ng-hide="userData.idTipoUsuario == 4" class="btn btn-success" type="button" id="btnEnviar" data-toggle="tooltip" tooltip="Cargar Adenda, COPADE" tooltip-placement="left" ng-click="subir(orden.idTrabajo)">
                                                    <span class="fa fa-paperclip" aria-hidden="true" data-toggle="modal"></span>
                                                    </button> -->
                                                                                                
                                                    <a id="downloadFactura" type="button" data-toggle="tooltip" tooltip="Generar Factura.txt" tooltip-placement="left" class="btn btn-primary" role="button" ng-click="generaTXT(orden.idTrabajo, orden.numeroTrabajo)"><span class="fa fa-file-text-o"></span></a>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </tab>
                            <tab heading="Cargar COPADES" index="1" ng-show="userData.idTipoUsuario == 1">
                               <br>
                               <button class="btn btn-success" type="button" id="btnEnviar" data-toggle="tooltip" tooltip="Cargar COPADE" tooltip-placement="right" ng-click="subir(orden.idTrabajo)">
                                   <span class="fa fa-paperclip" aria-hidden="true" data-toggle="modal">&nbsp;Cargar COPADE</span>
                               </button>
                               <br>
                               <br>
                               <div class="table-responsive">
                                   <table class="table table-striped table-bordered table-hover dataTableCopades" cg-busy="{promise:promise,message:message, minDuration: minDuration,
delay:delay}">
                                       <thead>
                                           <tr>
                                               <th>Orden de Surtimiento</th>
                                               <th>No. Estimación</th>
                                               <th>Subtotal</th>
                                               <th>Fecha de Carga</th>
                                               <th>Acción</th>
                                           </tr>
                                       </thead>
                                       <tbody>
                                           <tr ng-repeat="copade in copades">
                                               <td>{{copade.ordenSurtimiento}}</td>
                                               <td>{{copade.numeroEstimacion}}</td>
                                               <td>{{copade.subTotal | currency}}</td>
                                               <td>{{copade.fechaCarga}}</td>
                                               <td>
                                                   <button class="btn btn-primary" type="button" ng-click="buscaCoincidencia(copade.idDatosCopade)" data-toggle="tooltip" tooltip="Buscar coincidencias" tooltip-placement="left"><span class="glyphicon glyphicon-search"></span></button>
                                               </td>
                                           </tr>
                                       </tbody>
                                   </table>
                               </div>
                           </tab>
                            <tab heading="PreFactura Generada" index="2" ng-show="userData.idTipoUsuario == 1 || userData.idTipoUsuario == 2">
                                <br>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover dataTablePreFacturas" cg-busy="{ promise:promise,message:message } ">
                                        <thead>
                                            <tr>
                                                <th>Fecha</th>
                                                <th>Taller</th>
                                                <th>Número de la Orden</th>
                                                <th>Número Económico</th>
                                                <th>TAR</th>
                                                <th>Orden de Surtimiento</th>
                                                <th>Monto de la Orden</th>
                                                <th>Descripción de la Orden</th>
                                                <th>Estatus</th>
                                                <th>Dirección</th>
                                                <th>Agendó</th>
                                                <th>Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="cita in facturas">
                                                <td>{{cita.fecha | date:'dd-MM-yyyy HH:mm'}}</td>
                                                <td>{{cita.razonSocial}}</td>
                                                <td>{{cita.numeroTrabajo}}</td>
                                                <td>{{cita.numEconomico}}</td>
                                                <td>{{cita.TAR}}</td>
                                                <td>{{cita.folio}}</td>
                                                <td>{{cita.montoOrden | currency}}</td>
                                                <td>{{cita.trabajo}}</td>
                                                <td>{{cita.estatus}}</td>
                                                <td>{{cita.direccion}}</td>
                                                <td>{{cita.nombreCompleto}}</td>
                                                <td>
                                                    <button class="btn btn-info" type="button" ng-click="aprobarTrabajo(cita, 1)" data-toggle="tooltip" tooltip="Ver órden de servicio" tooltip-placement="left"><span class="glyphicon glyphicon-sunglasses"></span></button>

                                                    <a id="downloadFactura" type="button" data-toggle="tooltip" tooltip="Generar Factura.txt" tooltip-placement="left" class="btn btn-primary" role="button" ng-click="generaTXT(cita.idTrabajo, cita.numeroTrabajo)"><span class="fa fa-file-text-o"></span></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="subirAdenda" class="modal inmodal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Subir Adenda, COPADE</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive m-t">
                        <div class="dropzone" options="dzOptionsOrdenCobrar" callbacks="dzCallbacks" methods="dzMethods" ng-dropzone></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-click="dzMethods.processQueue();">Adjuntar Archivos</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

 <div class="modal inmodal" id="finalizarTrabajoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <h4 class="modal-title">Capturar Fecha COPADE</h4>
            </div>
            <br>
            <div class="col-xs-10">
                <div class="form-group" id="fechaTrabajo">
                    <div class="input-group date">
                        <input type="text" placeholder="Introduzca la fecha de la Copade" class="form-control" value="" ng-model="fecha">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="col-xs-10">
                <div class="input-group clockpicker" data-autoclose="true">
                    <input type="text" placeholder="Introduzca la hora de la Copade" class="form-control" value="" ng-model="hora">
                    <span class="input-group-addon">
                                    <span class="fa fa-clock-o"></span>
                    </span>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal" ng-click="cleanfecha()">Salir</button>
                <button type="button" class="btn btn-success" ng-click="saveFecha()">Guardar</button>
            </div>
        </div>
    </div>
</div> 

<div class="modal inmodal" id="mejorCoincidencia" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title">Mejor Coincidencia</h3>
                        <h6 class="modal-title text-navy">
                        <br>
                            Orden de Surtimiento: {{folio}} &nbsp
                            Monto de la Orden: {{monto | currency}}
                        </h6>
                    </div>
                <div class="modal-body">
                    <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" cg-busy="{promise:promise,message:message, minDuration: minDuration,delay:delay}">
                                        <thead>
                                            <tr>  
                                                <th>Número de la Orden</th>
                                                <th>Número Económico</th>
                                                <th>TAR</th>
                                                <th>Orden de Surtimiento</th>
                                                <th>Monto de la Orden</th>
                                                <th>Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="coincidencias in coincidencia">
                                                <td>{{coincidencias.numeroTrabajo}}</td>
                                                <td>{{coincidencias.numEconomico}}</td>
                                                <td>{{coincidencias.TAR}}</td>
                                                <td>{{coincidencias.folio}}</td>
                                                <td>{{coincidencias.montoOrden | currency}}</td>
                                                <td>
                                                 <div class="radio radio-inline">
                                                <input type="radio" name="name" value="" ng-click="seleccionMejorCoincidencia(coincidencias.idTrabajo)" ng-hide="" data-toggle="tooltip" tooltip="" tooltip-placement="left" ng-disabled="">
                                                <label for="inlineRadio"> Selecciona </label>
                                                </td>
                                            </div>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Salir</button>
                        <button type="button" class="btn btn-primary" ng-click="asociarCopade()">Asignar</button>
                </div>
            </div>
      </div>
 </div>