<div ng-init="init()">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="ibox-content" ng-hide="conTar">
                <div class="alert alert-danger">
                   <strong>Seleccione una TAR, </strong> para trabajar con ella.
                </div>
            </div>
            <br>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">Inicial</span>
                        <h5>Presupuesto</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{presupuesto | currency}}</h1>
                        <div class="stat-percent font-bold text-success">100% <i class="fa fa-bolt"></i></div>
                        <small></small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">Actual</span>
                        <h5>Saldo</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{saldo | currency}}</h1>
                        <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                        <small></small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-danger pull-right">Cotizaciones</span>
                        <h5>Gastado</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{gasto | currency}}</h1>
                        <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>
                        <small></small>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-offset-1 col-lg-8">
                <form class="form-horizontal">
                  <div class="form-group">
                        <label class="col-sm-2 control-label">TAR</label>
                        <div class="col-sm-10">
                            <select class="form-control m-b" name="tar" ng-model="selectedTar" ng-options="tar.nombreTar for tar in tars" ng-change="GetMonto()">
                                <option value="">Seleccione una TAR</option>
                                <!--default option -->
                            </select>
                        </div>
                    </div>
                   <div class="form-group">
                        <label class="col-sm-2 control-label">Folio</label>
                        <div class="col-sm-10">
                            <div class="input-group m-b">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Presupuesto</label>
                        <div class="col-sm-10">
                            <div class="input-group m-b"><span class="input-group-addon">$</span>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Fecha Inicial</label>
                        <div class="col-sm-10">
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" class="form-control" value="03/04/2014">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Fecha Final</label>
                        <div class="col-sm-10">
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" class="form-control" value="03/04/2014">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-10 col-sm-2">
                            <button class="btn btn-primary"><i class="fa fa-check">
                                </i> Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2">
                <button class="btn btn-success"><i class="fa fa-history">
                </i> Ver Historial</button>
            </div>
        </div>
    </div>
</div>