<link href="../../css/inspinia/sweetalert/sweetalert.css" rel="stylesheet">
<div ng-init="init()">
    <div class="headTitleTallerCita">
        <span class="title">Reporte de Citas<span class="subtitle">Administrador</span></span>
    </div>
    <br><br>
	<div class="col-lg-12">
	    <div class="ibox float-e-margins">
	        <div class="ibox-title">
	            <span class="label label-success pull-right">
	                <button class="btn btn-success" type="button" ng-click="verPreFactura()" data-toggle="tooltip" tooltip-placement="left">&nbsp;Agendadas</button>
	            </span>
	            <span class="label label-info pull-right">
	                <button class="btn btn-info" type="button" ng-click="verPreFactura()" data-toggle="tooltip" tooltip-placement="left">&nbsp;Confirmadas</button>
	            </span>
	            <span class="label label-danger pull-right">
	                <button class="btn btn-danger" type="button" ng-click="verPreFactura()" data-toggle="tooltip" tooltip-placement="left">&nbsp;Canceladas</button>
	            </span>
	            <h1 class="no-margins">Citas Registradas</h1>
	        </div>   



	    </div>
	</div>

</div>
