<link href="../../css/inspinia/sweetalert/sweetalert.css" rel="stylesheet">
<link rel="stylesheet" href="../../css/trabajo.css">
<div ng-init="init()">
    <div class="headTitleTallerCita">
        <span class="title">Reporte Reclamación<span class="subtitle"></span></span>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">

                        <div class="row col-md-12">
                            <div class="col-md-4">
                                <label class="font-noraml">Zona</label>
                                <select class="form-control m-b" ng-disabled="callCenter != null"
                                id="zona" ng-model="zona" 
                                ng-options="zona.idZona as zona.descripcionZona for zona in zonas" 
                                ng-change="devuelveTars(zona)">
                                    <option value="">Seleccioné una Zona</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="font-noraml">Tar</label>
                                <select ng-disabled="zona == null" class="form-control m-b" id="tar" ng-model="tar" 
                                ng-options="tar.idTAR as tar.nombreTar for tar in tars">
                                    <option value="">Seleccioné una TAR</option>
                                </select>
                            </div>
                            <div class="col-md-1">
                                <label class="font-noraml">Buscar</label>
                                <br>
                                <button id="btnBuscar" busy="Buscando.." type="button" class="btn btn-primary" ng-click="callAnexos()"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
<!--                             <div class="col-md-1">
                            </div>
                            <div class="col-md-2">
                            <label class="font-noraml">Acción</label><br>
                                <button id="btnBuscar" busy="Buscando.." data-loading-text="Loading..." type="button" tooltip="Generar reporte reclamacion" class="btn btn-success" ng-click="reporteReclamacion()"><span class="{{class_buttonReclamacion}}"></span> Reporte Reclamación</button>
                            </div> -->
                        </div>
                <div class="row col-md-12">
<!--                     <BR><BR>
                    <div class="etiquetaTotalesFlex">Anexo 1: <span class="totales">{{cantidad1 | currency: "$"}}</span></div><BR><BR>
                <span class="blueStrong">Anexo 1 - Reportes de conformidad firmados con retraso</span>
                    <br/>
                    <br/>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTableAnexo1" cg-busy="{promise:promise,message:message}">
                                <thead>
                                    <th>Consecutivo</th>
                                    <th>Cliente</th>
                                    <th>Número de Orden</th>
                                    <th>Número Económico</th>
                                    <th>Zona</th>
                                    <th>TAR</th>
                                    <th>Folio Certificado</th>
                                    <th>Fecha Generación Certificado</th>
                                    <th>Fecha Carga Certificado</th>
                                    <th>Precio Orden</th>
                                    <th>Fecha Máxima Carga</th>
                                    <th>Días Atraso</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="anexo1 in anexos1">
                                        <td>{{anexo1.Consecutivo}}</td>
                                        <td>{{anexo1.Cliente}}</td>
                                        <td>{{anexo1.NoOrden}}</td>
                                        <td>{{anexo1.NoEconomico}}</td>
                                        <td>{{anexo1.Zona}}</td>
                                        <td>{{anexo1.TAR}}</td>
                                        <td>{{anexo1.folioCertificado}}</td>
                                        <td>{{anexo1.FechaGeneracionCertificado | date:'dd-MM-yyyy HH:mm'}}</td>
                                        <td>{{anexo1.fechaCargaCertificadoCliente | date:'dd-MM-yyyy HH:mm'}}</td>
                                        <td>{{anexo1.precioOrden |  currency: "$"}}</td>
                                        <td>{{anexo1.fechaMaxFirma | date:'dd-MM-yyyy HH:mm'}}</td>
                                        <td>{{anexo1.DiasAtraso}}</td>
                                </tbody>
                            </table>
                        </div> -->
                    <BR><BR>
                    <div class="etiquetaTotalesFlex">Anexo 1: <span class="totales">{{cantidad1 | currency: "$"}}</span></div><BR><BR>
                    <span class="blueStrong">Anexo 1 - Reportes de conformidad generados por callcenter sin firma del cliente</span>
                    <br/>
                    <br/>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTableAnexo1" cg-busy="{promise:promise,message:message}">
                                <thead>
                                    <th>Consecutivo</th>
                                    <th>Cliente</th>
                                    <th>Número de Orden</th>
                                    <th>Número Económico</th>
                                    <th>Zona</th>
                                    <th>TAR</th>
                                    <th>Folio Certificado</th>
                                    <th>Fecha Generación Certificado</th>
                                    <th>Fecha Carga Certificado</th>
                                    <th>Precio Orden</th>
                                    <th>Fecha Máxima Carga</th>
                                    <th>Días Atraso</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="anexo1 in anexos1">
                                        <td>{{anexo1.Consecutivo}}</td>
                                        <td>{{anexo1.Cliente}}</td>
                                        <td>{{anexo1.NoOrden}}</td>
                                        <td>{{anexo1.NoEconomico}}</td>
                                        <td>{{anexo1.Zona}}</td>
                                        <td>{{anexo1.TAR}}</td>
                                        <td>{{anexo1.folioCertificado}}</td>
                                        <td>{{anexo1.FechaGeneracionCertificado | date:'dd-MM-yyyy HH:mm'}}</td>
                                        <td>{{anexo1.fechaCargaCertificadoCliente | date:'dd-MM-yyyy HH:mm'}}</td>
                                        <td>{{anexo1.precioOrden |  currency: "$"}}</td>
                                        <td>{{anexo1.fechaMaxFirma | date:'dd-MM-yyyy HH:mm'}}</td>
                                        <td>{{anexo1.DiasAtraso}}</td>
                                </tbody>
                            </table>
                        </div>
                    <BR><BR>
                    <div class="etiquetaTotalesFlex">Anexo 2: <span class="totales">{{cantidad2 | currency: "$"}}</span></div><BR><BR>
                    <span class="blueStrong">Anexo 2 - Reportes de conformidad firmados sin COPADE</span>
                    <br/>
                    <br/>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTableAnexo2" cg-busy="{promise:promise,message:message}">
                                <thead>
                                    <th>Consecutivo</th>
                                    <th>Cliente</th>
                                    <th>Número de Orden</th>
                                    <th>Número Económico</th>
                                    <th>Zona</th>
                                    <th>TAR</th>
                                    <th>Copade</th>
                                    <th>Folio Certificado</th>
                                    <th>Fecha Generación Certificado</th>
                                    <th>Fecha Carga Certificado</th>
                                    <th>Precio Orden</th>
                                    <th>Fecha Limite de Recepción de COPADE</th>
                                    <th>Días Atraso</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="anexo2 in anexos2">
                                        <td>{{anexo2.Consecutivo}}</td>
                                        <td>{{anexo2.Cliente}}</td>
                                        <td>{{anexo2.NoOrden}}</td>
                                        <td>{{anexo2.NoEconomico}}</td>
                                        <td>{{anexo2.Zona}}</td>
                                        <td>{{anexo2.TAR}}</td>
                                        <td>{{anexo2.Copade}}</td>
                                        <td>{{anexo2.folioCertificado}}</td>
                                        <td>{{anexo2.FechaGeneracionCertificado | date:'dd-MM-yyyy HH:mm'}}</td>
                                        <td>{{anexo2.fechaCargaCertificadoCliente | date:'dd-MM-yyyy HH:mm'}}</td>
                                        <td>{{anexo2.precioOrden |  currency: "$"}}</td>
                                        <td>{{anexo2.fechaMaxFirma | date:'dd-MM-yyyy HH:mm'}}</td>
                                        <td>{{anexo2.DiasAtraso}}</td>
                                </tbody>
                            </table>
                        </div>
                    <BR><BR>
                    <div class="etiquetaTotalesFlex">Anexo 3: <span class="totales">{{cantidad3 | currency: "$"}}</span></div><BR><BR>
                    <span class="blueStrong">Anexo 3 - Reportes de conformidad no generado por falta de OSUR</span>
                    <br/>
                    <br/>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTableAnexo3" cg-busy="{promise:promise,message:message}">
                                <thead>
                                    <th>Consecutivo</th>
                                    <th>Cliente</th>
                                    <th>Número de Orden</th>
                                    <th>Número Económico</th>
                                    <th>Zona</th>
                                    <th>TAR</th>
                                    <th>Folio Certificado</th>
                                    <th>Fecha notificación por falta de saldo</th>
                                    <th>Fecha Osur Activa</th>
                                    <th>Precio Orden</th>
                                    <th>Fecha Máxima Carga</th>
                                    <th>Días Atraso</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="anexo3 in anexos3">
                                        <td>{{anexo3.Consecutivo}}</td>
                                        <td>{{anexo3.Cliente}}</td>
                                        <td>{{anexo3.NoOrden}}</td>
                                        <td>{{anexo3.NoEconomico}}</td>
                                        <td>{{anexo3.Zona}}</td>
                                        <td>{{anexo3.TAR}}</td>
                                        <td>{{anexo3.folioCertificado}}</td>
                                        <td>{{anexo3.FechaTerminoOsur | date:'dd-MM-yyyy HH:mm'}}</td>
                                        <td>{{anexo3.fechaOsurActiva | date:'dd-MM-yyyy HH:mm'}}</td>
                                        <td>{{anexo3.precioOrden |  currency: "$"}}</td>
                                        <td>{{anexo3.fechaMaxFirma | date:'dd-MM-yyyy HH:mm'}}</td>
                                        <td>{{anexo3.DiasAtraso}}</td>
                                </tbody>
                            </table>
                        </div>

                        </div>
                        <BR><BR>
<div class="row col-md-12">
    <div class="totalesFount">Precio Total: <span class="totalesFinal">{{cantidadTotal | currency: "$"}}</span></div>
</div><BR><BR>
                    </div>
                </div>
            </div>
        </div>
    </div>