<link href="../../css/inspinia/sweetalert/sweetalert.css" rel="stylesheet">
<div ng-init="init()">
<!--     <div class="headTitleTallerCita">
        <span class="title">Reporte de Citas<span class="subtitle">Administrador</span></span>
    </div> -->
	    <div class="wrapper wrapper-content">
	        <div class="row">
	            <div class="col-lg-12">
	                <div class="ibox float-e-margins">
	                    <div class="ibox-content">
	
							    <span class="title">Reporte de Órdenes por Cobrar</span>
							     <span class="col-md-6 pull-right"> 
							<div class="col-lg-6">
							  <div class="pointer" ng-click="ordensinFactura()">
							    <div class="ibox float-e-margins">
							        <div class="ibox-title">
							            <span class="label label-primary pull-right"><i class="glyphicon glyphicon-duplicate"></i></span>
							            <h5>Sin Factura</h5>
							        </div>
							        <div class="ibox-content">
							            <h1 class="no-margins">{{cobrarsinfactura}}</h1>
							            <div class="stat-percent font-bold text-navy">{{porcentajesinfactura| number:2}}% <i class="fa fa-level-up"></i></div>
							            <small>Total sin Factura</small>
							        </div>
							    </div>
							    </div>
							</div>     
<!-- 							<div class="col-lg-4">
								<div class="pointer" ng-click="citaAgendada()">
									<div class="ibox float-e-margins">
										<div class="ibox-title">
							    <span class="label label-success pull-right"><i class="glyphicon glyphicon-search"></i></span>
							    <h5>En revisión</h5>
							</div>
							<div class="ibox-content">
							    <h1 class="no-margins">{{cobrar}}</h1>
							    <div class="stat-percent font-bold text-success">{{porcentajerevision | number:2}}% <i class="fa fa-level-up"></i></div>
							    <small>Total en revisión</small>
										</div>
									</div>
								</div>
							</div> -->
							<div class="col-lg-6">
								<div class="pointer" ng-click="ordensinCopade()">
							    <div class="ibox float-e-margins">
							        <div class="ibox-title">
							            <span class="label label-info pull-right"><i class="glyphicon glyphicon-time"></i></span>
							            <h5>Espera de Copade</h5>
							        </div>
							        <div class="ibox-content">
							            <h1 class="no-margins">{{cobrarsincopade}}</h1>
							            <div class="stat-percent font-bold text-info">{{porcentajecopade | number:2}}% <i class="fa fa-level-up"></i></div>
							            <small>Total en espera de Copade</small>
							        </div>
							    </div>
							   </div>
							</div>
							</span>

							<div class="ibox-content">
							<div ng-show="tipoPorCobrar==0">
                                    <span class="subtitle"><strong>ORDENES SIN FACTURA</strong></span>
                                    <br><br>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover dataTableSinFactura" cg-busy="{promise:promise,message:message}">
                                                <thead>
                                                    <tr>
                                                        <th>Zona</th>
                                                        <th>Tar</th>
                                                        <th>Razón Social</th>
                                                        <th>Fecha Creación de Cita</th>
                                                        <th>Fecha Cita</th>
                                                        <th>Numero Economico</th>
                                                        <th>Trabajo</th>
                                                        <th>Observación</th>
                                                        <th>Estatus</th>
                                                        <th>Horas sin Confirmación</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
<!--                                                     <tr ng-repeat="sinfacturas in datasinfactura">
                                                        <td>{{sinfacturas.zona}}</td>
                                                        <td>{{sinfacturas.TAR}}</td>
                                                        <td>{{sinfacturas.razonSocial}}</td>
                                                        <td>{{sinfacturas.fechaEstatus | date:'dd-MM-yyyy HH:mm'}}</td>
                                                        <td>{{sinfacturas.fechaCita | date:'dd-MM-yyyy HH:mm'}}</td>
                                                        <td>{{sinfacturas.numEconomico}}</td>
                                                        <td>{{sinfacturas.trabajo}}</td>
                                                        <td>{{sinfacturas.observacion}}</td>
                                                        <td>{{sinfacturas.estatus}}</td>
                                                        <td ng-class="{'rowVerde': sinfacturas.horasRetraso <= 49, 'rowAmarillo': sinfacturas.horasRetraso >= 50 && sinfacturas.horasRetraso  <=100, 'rowRojo': sinfacturas.horasRetraso >= 101}">{{sinfacturas.horasRetraso}}</td>
                                                    </tr> -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div ng-show="tipoPorCobrar==1">
                                    <span class="subtitle"><strong>ORDENES SIN COPADE</strong></span>
                                    <br><br>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover dataTableSinCopade" cg-busy="{promise:promise,message:message}">
                                                <thead>
                                                    <tr>
                                                        <th>Zona</th>
                                                        <th>Tar</th>
                                                        <th>Razón Social</th>
                                                        <th>Fecha Creación de Cita</th>
                                                        <th>Fecha Cita</th>
                                                        <th>Numero Economico</th>
                                                        <th>Trabajo</th>
                                                        <th>Observación</th>
                                                        <th>Estatus</th>
                                                        <th>Horas sin Confirmación</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
<!--                                                     <tr ng-repeat="sincopades in datasincopade">
                                                        <td>{{sincopades.zona}}</td>
                                                        <td>{{sincopades.TAR}}</td>
                                                        <td>{{sincopades.razonSocial}}</td>
                                                        <td>{{sincopades.fechaEstatus | date:'dd-MM-yyyy HH:mm'}}</td>
                                                        <td>{{sincopades.fechaCita | date:'dd-MM-yyyy HH:mm'}}</td>
                                                        <td>{{sincopades.numEconomico}}</td>
                                                        <td>{{sincopades.trabajo}}</td>
                                                        <td>{{sincopades.observacion}}</td>
                                                        <td>{{sincopades.estatus}}</td>
                                                        <td ng-class="{'rowVerde': sincopades.horasRetraso <= 49, 'rowAmarillo': sincopades.horasRetraso >= 50 && sincopades.horasRetraso  <=100, 'rowRojo': sincopades.horasRetraso >= 101}">{{sincopades.horasRetraso}}</td>
                                                    </tr> -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
							</div>

	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>