<link href="../../css/inspinia/sweetalert/sweetalert.css" rel="stylesheet">
<div ng-init="init()">
    <div class="headTitleTallerCita">
        <span class="title">Reporte de Citas<span class="subtitle">Administrador</span></span>
    </div>
    <br><br>
	<div class="col-lg-12">
	    <div class="ibox float-e-margins">
	        <div class="ibox-title">
	            <span class="pull-right">

	                <button class="btn btn-danger" type="button" ng-click="verPreFactura()" data-toggle="tooltip" tooltip-placement="left">Canceladas<br><div class="font-bold">{{citascanceladas}}</div></button>&nbsp;&nbsp;
	            </span>
	            <span class="pull-right">
	                <button class="btn btn-info" type="button" ng-click="verPreFactura()" data-toggle="tooltip" tooltip-placement="left">Confirmadas<br><div class="font-bold">{{citasconfirmadas}}</div></button>&nbsp;&nbsp;
	            </span>
	            
	            <span class="pull-right">
	                <button class="btn btn-success" type="button" ng-click="verPreFactura()" data-toggle="tooltip" tooltip-placement="left">Agendadas<br><div class="font-bold">{{citasagendadas}}</div></button>&nbsp;&nbsp;
	            </span>
	            <h1 class="no-margins">Citas Registradas</h1>
	        </div>
	        <br>
	        <div class="ibox-content"> 
	            <div class="stat-percent font-bold text-navy">50% <i class="fa fa-level-up"></i></div>
	        </div>

	    </div>
	</div>

</div>
