<link href="../../css/inspinia/sweetalert/sweetalert.css" rel="stylesheet">
<link rel="stylesheet" href="../../css/trabajo.css">
<div ng-init="init()">
    <div class="headTitleTallerCita">
        <span class="title">Resumen Reclamación<span class="subtitle"></span></span>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">

                        <div class="row col-md-12">
                            <div class="col-md-4">
                                <label class="font-noraml">Zona</label>
                                <select class="form-control m-b" ng-disabled="callCenter != null"
                                id="zona" ng-model="zona" 
                                ng-options="zona.idZona as zona.descripcionZona for zona in zonas" 
                                ng-change="devuelveTars(zona)">
                                    <option value="">Seleccioné una Zona</option>
                                </select>
                            </div>
                            <div class="col-md-3">
<!--                                 <label class="font-noraml">Tar</label>
                                <select ng-disabled="zona == null" class="form-control m-b" id="tar" ng-model="tar" 
                                ng-options="tar.idTAR as tar.nombreTar for tar in tars">
                                    <option value="">Seleccioné una TAR</option>
                                </select> -->
                            </div>
                            <div class="col-md-1">
                                <label class="font-noraml">Buscar</label>
                                <br>
                                <button id="btnBuscar" busy="Buscando.." type="button" class="btn btn-primary" ng-click="callResumen()"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>

                <div class="row col-md-12">
                    <BR><BR>
                <span class="blueStrong">Resumen de reportes de conformidad</span>
                    <br/>
                    <br/>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTableResumen" cg-busy="{promise:promise,message:message}">
                                <thead>
                                    <th>Zona</th>
                                    <th>TAR</th>
                                    <th>Total Anexo 1</th>
                                    <th>Precio Anexo 1</th>
                                    <th>Total Anexo 2</th>
                                    <th>Precio Anexo 2</th>
                                    <th>Total Anexo 3</th>
                                    <th>Precio Anexo 3</th>
                                    <th>Total Anexo 4</th>
                                    <th>Precio Anexo 4</th>
                                    <th>Total</th>
                                    <th>Acción</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="resumen in resumenes">
                                        <td>{{resumen.Zona}}</td>
                                        <td>{{resumen.TAR}}</td>
                                        <td>{{resumen.cantidad1}}</td>
                                        <td>{{resumen.precio1  |  currency: "$"}}</td>
                                        <td>{{resumen.cantidad2}}</td>
                                        <td>{{resumen.precio2  |  currency: "$"}}</td>
                                        <td>{{resumen.cantidad3}}</td>
                                        <td>{{resumen.precio3  |  currency: "$"}}</td>
                                        <td>{{resumen.cantidad4}}</td>
                                        <td>{{resumen.precio4  |  currency: "$"}}</td>
                                        <td>{{resumen.Total  |  currency: "$"}}</td>
 										<td><button id="" busy="Buscando.." tooltip="Enviar Reclamación" type="button" class="btn btn-primary" ng-click="verResumen(resumen)"><span class="fa fa-paper-plane-o"></span></button></td>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    </div>
        		</div>
            </div>
        </div>
    </div>
</div>