#chat { height: 250px; overflow: auto; }

.chatItem { margin-bottom: 5px; }

.chatItem .left { text-align: left; }

.chatItem .right { text-align: right; }

.chatItem .sender { width: 100%; font-weight: 600; color: #2d81ca; padding-right: 13px; }

.chatItem .date { width: 100%; font-size: 11.5px; padding-right: 20px; color: #636363; font-style: italic; }

.chatItem .text { width: 100%; font-size: 13px; padding-right: 20px; }

.iconChat { font-size: 11px; }

.visto { width: 17px; right: 0; margin-right: 4px; margin-top: 2px; float: right; margin-left: 3px; margin-right: 0px; }

.wordwrap { white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; }
