.contenedor {
  margin: 3%;
}

.inputLabel {
  padding: 10px 30px 10px 0px;
  display: inline-block;
}

.formGroup {
  width: 100%;
  padding: 5px;
}

input.rounded {
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  font-size: 15px;
  outline: 0;
  -webkit-appearance: none;
}

input.rounded:focus {
  border-color: #0080FF;
}

.onlyRounded {
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  font-size: 15px;
  outline: 0;
  -webkit-appearance: none;
}

input.rounded.inputWidth {
  width: 300px;
}
