.totales{
    font-size: 24px;
    font-weight: 100;
}

.etiquetaTotales{
	 position: absolute;
    right: 0;
    margin-right: 35px;
    font-size: 14px;
    font-weight: 500;
    top: 0;
    margin-top: 60px;
}