<link rel="stylesheet" href="AngularJS/modals/css/presupuestoModal.css">
<div class="modal-header barra_popup myModalHeader" ng-init="init()">
    <div class="modal-title">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="close()">×</button>
        <h4 class="modal-title myModalTitle" >¡SALDO INSUFICIENTE!</h4>

    </div>
</div>
<div class="modal-body">
    <div id="content_popDrag">
       <div class="modal-body">
            <div class="row">
                <label class="control-label myModalLabel">Lo sentimos, esta orden de servicio no puede ser generada por falta de saldo en la Orden de Surtimiento.</label>
            </div>
            <br>
            <div class="row">
                <label class="control-label myModalLabel">Lo anterior, con fundamento en lo expresamente dispuesto en el segundo párrafo de la página 8 del Anexo K al Contrato Abierto de Servicio número 5400027380, el cual refiere que “solo una vez emitida y autorizada la orden de surtimiento, se ejecutaran los servicios y reparaciones requeridos…”</label>
            </div>
           <br>
            <div class="row">
                <label class="control-label myModalLabel">Lamentamos los inconvenientes ocasionados, favor de contactar a su Gerencia y/o Subdirección de Almacenamiento y Despacho.</label>
            </div>
           <br>
           <br>
            <div class="form-group row">
                <label class="col-sm-3 control-label myModalTag">Contraseña de Administrador</label>
                <div class="col-sm-8">
                    <div class="m-b">
                        <div class="row">
                          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 inputDiv">
                            <input type="password" name="password" placeholder="Ingrese la contraseña de Administrador" ng-model="valueAdmin" id="myPassword" size="30" class="form-control"/>
                          </div>
                          <div class="col-xs-2 col-xs-2 col-md-2 col-lg-2 iconDiv">
                            <i class="fa fa-eye fa-2x myIcon" aria-hidden="true" ng-mouseover="mouseoverPass();" ng-mouseleave="mouseoutPass();"></i>
                            <!-- <input id="inputValue" type="password" placeholder="Ingrese la contraseña de Administrador" class="form-control" ng-model="valueAdmin" > -->
                           <!--  <input type="text" class="form-control" ng-model="valueAdmin"> -->
                         </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal" ng-click="close()">Cerrar</button>
    <button type="button" class="btn myModalBtn" ng-click="checkValue()" >Continuar</button>
</div>
