

/* ---- Timeline ---- */

.timelineScope ol {
  position: relative;
  display: block;
  margin: 50px;
  height: 4px;
  background: #46b8da;
}
.timelineScope ol::before,
.timelineScope ol::after {
  content: "";
  position: absolute;
  top: -8px;
  display: block;
  width: 0;
  height: 0;
  border-radius: 10px;
  border: 10px solid #46b8da;
}
.timelineScope ol::before {
  left: -5px;
}
.timelineScope ol::after {
  right: -10px;
  border: 10px solid transparent;
  border-right: 0;
  border-left: 20px solid #46b8da;
  border-radius: 3px;
}

/* ---- Timeline elements ---- */

.timelineScope li {
    position: relative;
    top: -47px;
    display: inline-block;
    float: left;
    width: 58px;
    transform: rotate(-45deg);
}
.timelineScope li::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -29px;
  display: block;
  width: 6px;
  height: 6px;
  border: 4px solid #46b8da;
  border-radius: 10px;
  background: #eee;
}

/* ---- Details ---- */

.timelineScope .details {
    position: absolute;
    left: -19px;
    top: 9px;
    padding: 7px;
    border-radius: 3px;
    border-right: 2px solid rgba(0,0,0,.1);
    border-bottom: 2px solid rgba(0,0,0,.1);
    /* transform: rotate(45deg); */
    font: 12px arial;
    background: #f5f5f5;
    margin-left: -127px;
}


.timelineScope .details2 
{
  position: absolute;
  left: -70px;
  top: 10px;
  padding: 15px;
  transform: rotate(45deg);
  font: 12px arial;  
}




.timelineScope .details::before {
  content: "";
  position: absolute;
  left: 10px;
  top: -9px;
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #fff;
  border-top: 0;
}

/* ---- Hover effects ---- */

.timelineScope li:hover {
  cursor: pointer;
  color: #28e;
}
.timelineScope li:hover::before {
  top: 1px;
  left: -31px;
  width: 8px;
  height: 8px;
  border-width: 5px;
  border-color: #28e;
}
.timelineScope li:hover .details {
  display: block;
  color: #444;
}